<!--
  Generated template for the AgregarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <ion-title>{{list.title}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
        <ion-item>
            <ion-label floating>Nuevo item</ion-label>
            <ion-input [(ngModel)]="itemName" (keyup.enter)="addItem()" type="text"></ion-input>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="list.items.length > 0">
        <ion-list-header>
            Tareas por hacer
        </ion-list-header>
        <ion-item-sliding *ngFor="let item of list.items; let i = index">
            <button ion-item detail-none>
                <ion-label>{{item.desc}}</ion-label>
                <ion-checkbox [(ngModel)]="item.completed" (ionChange)="toggle(item)"></ion-checkbox>
            </button>
            <ion-item-options side="right">
                <button ion-button text-center icon-only (click)="remove(i)" color="danger">
                      <ion-icon name="trash"></ion-icon>
                    </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>