<ion-tabs color="primary">
    <ion-tab [root]="tab1Root" tabTitle="Pendientes" tabIcon="Pendientes"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Completados" tabIcon="Completados"></ion-tab>
</ion-tabs>