<ion-list>
    <ion-item-sliding *ngFor="let list of deseosProvider.lists | filterComplete:terminada" (click)="selectedList(list)">
        <button ion-item>{{ list.title }}
          <ion-note item-end>{{ list.items.length }} items</ion-note>
      </button>
        <ion-item-options side="left">
            <button ion-button text-center icon-only (click)="deseosProvider.remove(list)" color="danger"><ion-icon name="trash"></ion-icon></button>
        </ion-item-options>
    </ion-item-sliding>
</ion-list>