<ion-header>
    <ion-navbar color="primary">
        <ion-title text-center>Pendientes</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <my-list></my-list>
    <ion-fab right bottom>
        <button (click)="goToAdd()" ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>