<ion-header>
    <ion-navbar color="primary">
        <ion-title text-center>Completados</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <my-list [terminada]="true"></my-list>
</ion-content>